# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/src/cppunitsexpoutputter/Makefile.am~
/src/Makefile.am~
/include/cppunitsexpoutputter/Makefile.am~
/include/Makefile.am~
/configure.ac~
/config.log
/config.sub
/Makefile.am~

# autom4te.cache
autom4te.cache/*
/src/cppunitsexpoutputter/.libs/libcppunitsexpoutputter.so.0
/src/cppunitsexpoutputter/.libs/libcppunitsexpoutputter.so.0.0.0
/src/cppunitsexpoutputter/.deps/libcppunitsexpoutputter_la-SexpOutputter.Plo
/src/.libs/libcppunitsexpoutputter.so.0.0.0
/src/.libs/libcppunitsexpoutputter.so.0
/src/.deps/libcppunitsexpoutputter_la-SexpOutputter.Plo
